.all{
    width: 100%;
    height: 100%;
    background-image: url("https://ak.picdn.net/shutterstock/videos/1067400752/thumb/1.jpg?ip=x480");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #eef0f4;
    /* position: relative; */
    

    

}